<form id="factories-form" method="post" action="/factories/create"  class="boxy">
	<div class="form-group divname">
		<label for="name"><%= data.attributeData.name %></label>
		<input type="text" class="form-control" id="name" name="name" placeholder="Name" value="<%= data.model.name%>">
	</div>
	<div class="form-group divaddress">
		<label for="address"><%= data.attributeData.address %></label>
		<input type="text" class="form-control" id="address" name="address" placeholder="Address" value="<%= data.model.address%>">
	</div>
	<div class="form-group divcity">
		<label for="city"><%= data.attributeData.city %></label>
		<input type="text" class="form-control" id="city" name="city" placeholder="City" value="<%= data.model.city%>">
	</div>
	<div class="form-group divprovince">
		<label for="province"><%= data.attributeData.province %></label>
		<input type="text" class="form-control" id="province" name="province" placeholder="Province" value="<%= data.model.province%>">
	</div>
	<div class="form-group divcode">
		<label for="code"><%= data.attributeData.code %></label>
		<input type="text" class="form-control" id="code" name="code" placeholder="Code" value="<%= data.model.code%>">
	</div>
	<div class="form-group divstatus">
		<label for="status"><%= data.attributeData.status %></label>
		<input type="text" class="form-control" id="status" name="status" placeholder="Status" value="<%= data.model.status%>">
	</div>
 <div class="form-group"><button id="factories-submit" type="submit" class="btn btn-success">Submit</button></div>
</form>

<% include formjs.ejs %>