<nav class="breadcrumb pull-right">
	<a class="breadcrumb-item" href="/">Home</a> /
	<a class="breadcrumb-item" href="/factories">Factories</a> /
	<span class="breadcrumb-item active">View</span>
</nav>

<div class="page-header">
	<h1>Factories <%= data.model.id %> </h1>
</div>

<table class="table table-striped table-responsive">
	<tbody>
		<tr>
			<th>
			Name
			</th>
			<td>
			<%= data.model.name %>
			</td>
		</tr>
		<tr>
			<th>
			Address
			</th>
			<td>
			<%= data.model.address %>
			</td>
		</tr>
		<tr>
			<th>
			City
			</th>
			<td>
			<%= data.model.city %>
			</td>
		</tr>
		<tr>
			<th>
			Province
			</th>
			<td>
			<%= data.model.province %>
			</td>
		</tr>
		<tr>
			<th>
			Code
			</th>
			<td>
			<%= data.model.code %>
			</td>
		</tr>
		<tr>
			<th>
			Status
			</th>
			<td>
			<%= data.model.status %>
			</td>
		</tr>
		<tr>
			<th>
			Id
			</th>
			<td>
			<%= data.model.id %>
			</td>
		</tr>
	</tbody>
</table>
