<form id="bank-form" method="post" action="/bank/create"  class="boxy">
	<div class="form-group divswiftCode">
		<label for="swiftCode"><%= data.attributeData.swiftCode %></label>
		<input type="text" class="form-control" id="swiftCode" name="swiftCode" placeholder="SwiftCode" value="<%= data.model.swiftCode%>">
	</div>
	<div class="form-group divbankCode">
		<label for="bankCode"><%= data.attributeData.bankCode %></label>
		<input type="text" class="form-control" id="bankCode" name="bankCode" placeholder="BankCode" value="<%= data.model.bankCode%>">
	</div>
	<div class="form-group divbankName">
		<label for="bankName"><%= data.attributeData.bankName %></label>
		<input type="text" class="form-control" id="bankName" name="bankName" placeholder="BankName" value="<%= data.model.bankName%>">
	</div>
	<div class="form-group divbranchCode">
		<label for="branchCode"><%= data.attributeData.branchCode %></label>
		<input type="text" class="form-control" id="branchCode" name="branchCode" placeholder="BranchCode" value="<%= data.model.branchCode%>">
	</div>
	<div class="form-group divbranchName">
		<label for="branchName"><%= data.attributeData.branchName %></label>
		<input type="text" class="form-control" id="branchName" name="branchName" placeholder="BranchName" value="<%= data.model.branchName%>">
	</div>
	<div class="form-group divcity">
		<label for="city"><%= data.attributeData.city %></label>
		<input type="text" class="form-control" id="city" name="city" placeholder="City" value="<%= data.model.city%>">
	</div>
	<div class="form-group divsubBranchCode">
		<label for="subBranchCode"><%= data.attributeData.subBranchCode %></label>
		<input type="text" class="form-control" id="subBranchCode" name="subBranchCode" placeholder="SubBranchCode" value="<%= data.model.subBranchCode%>">
	</div>
	<div class="form-group divsubBranchName">
		<label for="subBranchName"><%= data.attributeData.subBranchName %></label>
		<input type="text" class="form-control" id="subBranchName" name="subBranchName" placeholder="SubBranchName" value="<%= data.model.subBranchName%>">
	</div>
	<div class="form-group divremark">
		<label for="remark"><%= data.attributeData.remark %></label>
		<input type="text" class="form-control" id="remark" name="remark" placeholder="Remark" value="<%= data.model.remark%>">
	</div>
	<div class="form-group divcreateDate">
		<label for="createDate"><%= data.attributeData.createDate %></label>
		<input type="date" class="form-control" id="createDate" name="createDate" placeholder="CreateDate" value="<%= data.model.createDate%>">
	</div>
	<div class="form-group divcreateBy">
		<label for="createBy"><%= data.attributeData.createBy %></label>
		<select class="form-control" name="createBy" id="createBy">
			<option value=""> -- </option>
		</select>
	</div>
	<div class="form-group divupdateDate">
		<label for="updateDate"><%= data.attributeData.updateDate %></label>
		<input type="date" class="form-control" id="updateDate" name="updateDate" placeholder="UpdateDate" value="<%= data.model.updateDate%>">
	</div>
	<div class="form-group divupdateBy">
		<label for="updateBy"><%= data.attributeData.updateBy %></label>
		<select class="form-control" name="updateBy" id="updateBy">
			<option value=""> -- </option>
		</select>
	</div>
 <div class="form-group"><button id="bank-submit" type="submit" class="btn btn-success">Submit</button></div>
</form>

<% include formjs.ejs %>