<nav class="breadcrumb pull-right boxy-small">
	<a class="breadcrumb-item" href="/">Home</a> /
	<a class="breadcrumb-item" href="/company">Index</a> /
	<span class="breadcrumb-item active">View</span>
</nav>

<div class="page-header">
	<h1>Company <%= data.model.id %> </h1>
</div>

<table class="table table-striped table-responsive boxy">
	<tbody>
		<tr>
			<th>
			<%= data.attributeData.code %>
			</th>
			<td>
			<%- data.model.code %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.codes %>
			</th>
			<td>
			<%- data.model.codes %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.alias %>
			</th>
			<td>
			<%- data.model.alias %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.employeeCategoryId %>
			</th>
			<td>
			<%- data.model.employeeCategoryId %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.typeTaxId %>
			</th>
			<td>
			<%- data.model.typeTaxId %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.workDays %>
			</th>
			<td>
			<%- data.model.workDays %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.name %>
			</th>
			<td>
			<%- data.model.name %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.npwp %>
			</th>
			<td>
			<%- data.model.npwp %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.address %>
			</th>
			<td>
			<%- data.model.address %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.kota %>
			</th>
			<td>
			<%- data.model.kota %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.description %>
			</th>
			<td>
			<%- data.model.description %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.jamsostekNo %>
			</th>
			<td>
			<%- data.model.jamsostekNo %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.telephone %>
			</th>
			<td>
			<%- data.model.telephone %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.fax %>
			</th>
			<td>
			<%- data.model.fax %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.virtual_account %>
			</th>
			<td>
			<%- data.model.virtual_account %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.contactPerson %>
			</th>
			<td>
			<%- data.model.contactPerson %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.officerName %>
			</th>
			<td>
			<%- data.model.officerName %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.officerId %>
			</th>
			<td>
			<%- data.model.officerId %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.position %>
			</th>
			<td>
			<%- data.model.position %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.createDate %>
			</th>
			<td>
			<%- data.model.createDate %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.formulaId %>
			</th>
			<td>
			<%- data.model.formulaId %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.group %>
			</th>
			<td>
			<%- data.model.group %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.groupId %>
			</th>
			<td>
			<%- data.model.groupId %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.contractNo %>
			</th>
			<td>
			<%- data.model.contractNo %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.startContract %>
			</th>
			<td>
			<%- data.model.startContract %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.endContract %>
			</th>
			<td>
			<%- data.model.endContract %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.kodeAkunPajak %>
			</th>
			<td>
			<%- data.model.kodeAkunPajak %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.kodeSetoran %>
			</th>
			<td>
			<%- data.model.kodeSetoran %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.uraianPembayaran %>
			</th>
			<td>
			<%- data.model.uraianPembayaran %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.jointDate %>
			</th>
			<td>
			<%- data.model.jointDate %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.tenagaKerja %>
			</th>
			<td>
			<%- data.model.tenagaKerja %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.upah %>
			</th>
			<td>
			<%- data.model.upah %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.bpjs %>
			</th>
			<td>
			<%- data.model.bpjs %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.online %>
			</th>
			<td>
			<%- data.model.online %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.logo %>
			</th>
			<td>
			<%- data.model.logo %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.onlineDate %>
			</th>
			<td>
			<%- data.model.onlineDate %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.createBy %>
			</th>
			<td>
			<%- data.model.createBy %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.updateDate %>
			</th>
			<td>
			<%- data.model.updateDate %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.updateBy %>
			</th>
			<td>
			<%- data.model.updateBy %>
			</td>
		</tr>
		<tr>
			<th>
			<%= data.attributeData.id %>
			</th>
			<td>
			<%- data.model.id %>
			</td>
		</tr>
	</tbody>
</table>
