<form id="designation-form" method="post" action="/designation/create"  class="boxy">
	<div class="form-group divcompanyId">
		<label for="companyId"><%= data.attributeData.companyId %></label>
		<select class="form-control" name="companyId" id="companyId">
			<option value=""> -- </option>
		</select>
	</div>
	<div class="form-group divdepartmentId">
		<label for="departmentId"><%= data.attributeData.departmentId %></label>
		<select class="form-control" name="departmentId" id="departmentId">
			<option value=""> -- </option>
		</select>
	</div>
	<div class="form-group divcode">
		<label for="code"><%= data.attributeData.code %></label>
		<input type="text" class="form-control" id="code" name="code" placeholder="Code" value="<%= data.model.code%>">
	</div>
	<div class="form-group divname">
		<label for="name"><%= data.attributeData.name %></label>
		<input type="text" class="form-control" id="name" name="name" placeholder="Name" value="<%= data.model.name%>">
	</div>
	<div class="form-group divcreateDate">
		<label for="createDate"><%= data.attributeData.createDate %></label>
		<input type="date" class="form-control" id="createDate" name="createDate" placeholder="CreateDate" value="<%= data.model.createDate%>">
	</div>
	<div class="form-group divcreateBy">
		<label for="createBy"><%= data.attributeData.createBy %></label>
		<select class="form-control" name="createBy" id="createBy">
			<option value=""> -- </option>
		</select>
	</div>
	<div class="form-group divupdateDate">
		<label for="updateDate"><%= data.attributeData.updateDate %></label>
		<input type="date" class="form-control" id="updateDate" name="updateDate" placeholder="UpdateDate" value="<%= data.model.updateDate%>">
	</div>
	<div class="form-group divupdateBy">
		<label for="updateBy"><%= data.attributeData.updateBy %></label>
		<select class="form-control" name="updateBy" id="updateBy">
			<option value=""> -- </option>
		</select>
	</div>
 <div class="form-group"><button id="designation-submit" type="submit" class="btn btn-success">Submit</button></div>
</form>

<% include formjs.ejs %>